src/__pycache__/app_methods.cpython-39.pyc
src/__pycache__/capital.cpython-39.pyc
src/__pycache__/dict.cpython-39.pyc
src/__pycache__/indicators.cpython-39.pyc
src/__pycache__/open_position.cpython-39.pyc
src/__pycache__/order.cpython-39.pyc
src/__pycache__/strategies.cpython-39.pyc
.idea/misc.xml
.gitignore
