<html>

<head>
    <title>Tradingbot </title>
    <script src = "https://unpkg.com/lightweight-charts/dist/lightweight-charts.standalone.production.js"></script>

<body>
    <h1>Trades</h1>

    <div id="chart"></div>

    <script src="char.js"></script>

    <div id="trades"></div>

    <script>
        var stockSocket = new WebSocket("wss://stream.binance.com:9443/ws/btcusdt@kline_1m");

        var tradeDiv = document.getElementById("trades")

        stockSocket.addEventListener('message', function (event) {
            console.log(event.data);

            var messageObject = JSON.parse(event.data)

            /*if (messageObject.k.x === "true") { */
            /*tradeDiv.append(messageObject.k.t + "\n")
            tradeDiv.append(messageObject.k.o + "\n")
            tradeDiv.append(messageObject.k.h + "\n")
            tradeDiv.append(messageObject.k.l + "\n")
            tradeDiv.append(messageObject.k.c + "\n")
            }*/
        });
        
    </script>

    <div id="webhooks"></div>

</body>

</html>